@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, this is MS-SASsy!</h1>

<br/>
This chat application is built using .NET Aspire and uses Semantic Kernel to connect to Azure OpenAI service with gpt-35-turbo model to respond to your queries about Microsoft. 

<br />
MS-SASsy will refuse to answer a question about anything other than Microsoft.